
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
h1, h2 {
    text-align: center;
}

a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-edit:hover, .btn-addStud:hover, .btn-back:hover {
    background-color: #0056b3;
}

.btn-delete{
    background-color: rgb(255, 0, 0);
}
.btn-delete:hover{
    background-color: rgb(165, 8, 8);
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
.topbar h2 a {
    color: #fff;
    text-decoration: none;
}
.topbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.topbar ul li {
    margin: 15px 0;
}

.topbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    text-align: left;
}

.topbar ul li a:hover {
    text-decoration: underline;
}

.logout-container form {
    margin-bottom: 0;
}
.logout-container input[type="submit"] {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.logout-container input[type="submit"]:hover {
    background-color: #d32f2f;
}

/* Main content styles */

.forms-container {
    margin-top: 100px; /* Adjust this to ensure content starts below the topbar */
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.add-stud {
    display: grid;
    width: 100%;
}
.add-stud h2 {
    text-align: center;
}

.container2 {
    padding: 0 20px;
    border-radius: 8px;
    flex: 1 1 50%;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 10px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0c8c03;
    color: white;
}